/* fonts */
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --primary-green: #819b57;
  --primary-light: #faf4ea;
  --primary-dark: #31261a;
  --secondary-dark: #465929;
  --secondary-light: #a18268;
  --secondary-green: #cfcfbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--primary-light);
}

/* Base */
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary-green);
}

.brand {
  font-weight: 600;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

a {
  display: inline-block;
}

/* Link */
.link {
  color: var(--primary-light);
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: var(--primary-green);
}

/* Button */
.btn {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  border-radius: 8px;

  width: 238px;
  height: 59px;

  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;

  transition: 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--secondary-dark);
  cursor: pointer;
}

/* Header */
header {
  background-color: purple;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero-section */

.hero-section {
  padding: 272px 0;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--primary-light);
  font-size: 128px;
  font-weight: 900;
  text-align: center;

  margin-bottom: 0;
}

/* Advantages-section */
.advantages-section {
  background-color: var(--primary-green);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions-section */
.traditions-section {
  padding-top: 96px;
}

.limited {
  max-width: 340px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-content {
  max-width: 710px;
}

.traditions-image img {
  border-radius: 300px 300px 0 0;
}

/* Chefs-section */

.chefs-section {
  padding: 80px 96px 0 0;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-title {
  margin-bottom: 80px;
  max-width: 470px;
  margin: 0 auto;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  width: 352px;
  display: block;
  content: "";
  border: 1px solid var(--secondary-green);

  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: -352px;
}

.chefs-title::after {
  right: -352px;
}

.chefs-span {
  color: var(--secondary-dark);
}

.chefs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;

  box-shadow:
    -16px 16px 0 0 var(--primary-light),
    -16px 16px 0 2px var(--secondary-light);
}

.chefs-container {
  padding: 80px 0 96px 0;
}

/* Formats-section */

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-section-title {
  margin-bottom: 80px;
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.format-card {
  border: 1px solid purple;
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border-radius: 16px;
  padding: 24px;
}

.slider-btn {
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--primary-dark);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  transition: 0.3s;
}

.slider-btn:hover {
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 33px;
}

/* Contact-section */

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 30px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

/* Footer */

footer {
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark);

  padding: 32px 0;
  position: relative;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

footer::before {
  background-image: url(../images/decor-bread-small.png);
  left: 0;
  width: 180px;
  height: 120px;
}

footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.adress-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-light);

  text-decoration: none;
  cursor: pointer;

  transition: 0.3s;
}

.adress-link:hover {
  color: var(--primary-green);
}

.adress-copyright {
  color: var(--secondary-light);
  font-size: 14px;
}

.adress-icon {
  fill: var(--primary-light);
  transition: 0.3s;
}

.adress-icon:hover {
  fill: var(--primary-green);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

/* Modal */

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 880px;
  height: 880px;
  background-color: var(--primary-light);
  border-radius: 32px;
  position: relative;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}
