@import "./utils/fonts";

@import "./utils/variables";

@import "./utils/base";

@import "./utils/utils";

@import "./components/buttons";

@import "./components/links";

@import "./components/header";

@import "./components/hero-section";

@import "./components/advantages-section";

@import "./components/traditions-section";

@import "./components/chefs-section";

@import "./components/formats-section";

@import "./components/contact-section";

@import "./components/footer";

@import "./components/modal";

@import "./components/form";
