.chefs-section {
  &__title {
    margin-bottom: 80px;
    max-width: 470px;
    margin: 0 auto;
    position: relative;

    &::after,
    &::before {
      width: 352px;
      display: block;
      content: "";
      border: 1px solid var(--secondary-green);

      position: absolute;
      bottom: 24px;

      @media screen and (max-width: $bp-desktop) {
        display: none;
        position: static;
      }
    }

    &::before {
      left: -352px;
    }

    &::after {
      right: -352px;
    }
  }

  &__span {
    color: var(--secondary-dark);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
    }
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    padding: 80px 0 96px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
