.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 33px;
  }
}

.swiper-container {
  overflow: hidden;
  flex-grow: 1;
}
