.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 50px;

  @media screen and (max-width: $bp-desktop) {
    padding: 0 21px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

a {
  display: inline-block;
}
