.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary-green);
}

.brand {
  font-weight: 600;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  color: var(--primary-dark);
}

a {
  display: inline-block;
}
