.btn {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  border-radius: 8px;

  width: 238px;
  height: 59px;

  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;

  transition: 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--secondary-dark);
  cursor: pointer;
}
