.btn {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  border-radius: 8px;

  width: 238px;
  height: 59px;

  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;

  transition: 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--secondary-dark);
  cursor: pointer;
}

.slider-btn {
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--primary-dark);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  transition: 0.3s;

  @media screen and (max-width: $bp-tablet) {
    display: none;
  }
}

.slider-btn:hover {
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}
