.chefs-section {
  padding: 80px 96px 0 0;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-title {
  margin-bottom: 80px;
  max-width: 470px;
  margin: 0 auto;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  width: 352px;
  display: block;
  content: "";
  border: 1px solid var(--secondary-green);

  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: -352px;
}

.chefs-title::after {
  right: -352px;
}

.chefs-span {
  color: var(--secondary-dark);
}

.chefs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;

  box-shadow:
    -16px 16px 0 0 var(--primary-light),
    -16px 16px 0 2px var(--secondary-light);
}

.chefs-container {
  padding: 80px 0 96px 0;
}
