.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 30px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}
