footer {
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark);

  padding: 32px 0;
  position: relative;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

footer::before {
  background-image: url(../images/decor-bread-small.png);
  left: 0;
  width: 180px;
  height: 120px;
}

footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.adress-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-light);

  text-decoration: none;
  cursor: pointer;

  transition: 0.3s;
}

.adress-link:hover {
  color: var(--primary-green);
}

.adress-copyright {
  color: var(--secondary-light);
  font-size: 14px;
}

.adress-icon {
  fill: var(--primary-light);
  transition: 0.3s;
}

.adress-icon:hover {
  fill: var(--primary-green);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
