.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-section-title {
  margin-bottom: 80px;
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.formats-text p {
  margin: 0;
}

.format-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
  color: var(--primary-light);
}

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 24px;
}

.slider-btn {
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--primary-dark);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  transition: 0.3s;
}

.slider-btn:hover {
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 33px;
}
