.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.modal {
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--primary-light);
  border-radius: 32px;
  position: relative;
  padding: 128px;
  position: relative;

  overflow-y: auto;
}

.modal::after {
  position: absolute;
  content: "";
  background-image: url(../images/modal-bread.png);
  width: 180px;
  height: 240px;
  right: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
}

.close {
  transition: 0.7s;
}

.modal-btn-close:hover .close {
  transform: rotate(180deg);
}

.privacy {
  color: var(--primary-dark);
}
