.traditions-section {
  padding-top: 96px;

  &__title {
    margin-bottom: 42px;
  }

  &__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }

  &__content {
    max-width: 710px;
  }

  &__image img {
    border-radius: 300px 300px 0 0;
  }
}
