.traditions-section {
  padding-top: 96px;
}

.limited {
  max-width: 340px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-content {
  max-width: 710px;
}

.traditions-image img {
  border-radius: 300px 300px 0 0;
}
