.footer {
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark);

  padding: 32px 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url(../images/decor-bread-small.png);
    left: 0;
    width: 180px;
    height: 120px;

    @media screen and (max-width: $bp-desktop) {
      background-image: url(../images/mobile-bread-large.png);
      width: 92px;
      height: 196px;
      top: 0;
    }
  }

  &::after {
    background-image: url(../images/decor-bread-large.png);
    width: 380px;
    height: 190px;
    right: 0;

    @media screen and (max-width: $bp-desktop) {
      background-image: url(../images/mobile-bread-small.png);
      width: 110px;
      height: 120px;
      background-size: cover;
      background-position: center;
    }
  }

  &__container {
    display: flex;
    gap: 20px;

    @media screen and (max-width: $bp-desktop) {
      flex-direction: column;

      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__nav,
  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

    @media screen and (max-width: $bp-desktop) {
      flex-direction: column;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: $bp-desktop) {
      flex-direction: column;
    }
  }

  &__link {
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-light);

    text-decoration: none;
    cursor: pointer;

    transition: 0.3s;
  }

  & .link {
    font-weight: 300;
  }

  &__link:hover {
    color: var(--primary-green);
  }

  &__copyright {
    color: var(--secondary-light);
    font-size: 14px;
  }

  &__socials {
    gap: 22px;
    display: flex;
    justify-content: center;
  }

  &__icon {
    fill: var(--primary-light);
    transition: 0.3s;
  }

  &__icon:hover {
    fill: var(--primary-green);
  }

  &__list,
  .address-info {
    flex-grow: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
