.mobile-menu {
  position: fixed;
  transform: translateX(100%);
  background-color: var(--primary-light);
  inset: 0;
  z-index: 10;

  transition: 0.5s;

  &.is-open {
    transform: translateX(0);
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/modal-bread.png);
    width: 180px;
    height: 240px;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: $bp-desktop) {
    display: block;
    padding: 16px 24px;
  }

  &__btn-close {
    position: absolute;
    right: 24px;
    top: 16px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
  }

  &__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list .link {
    color: var(--primary-dark);
  }
}
